{% extends "base.html.jinja2" %}

{% block subtitle %}Achievements - {% endblock %}

{% macro achievement(a) %}
<div class="achievement-wrapper">
    <a href="/achievement/{{slugify(a.name)}}.html" class="achievement unachieved{% if a.refracted %} refracted{% endif %}">
        <h4>{{a.name}}</h4>
        {% if a.emoji %}
            <div class="achievement-emoji">{{a.emoji}}</div>
        {% elif a.img %}
            <div class="achievement-img">
                <img src="{{a.img}}" alt="{{a.name}}" loading="lazy" />
            </div>
        {% endif%}
        <p class="achievement-desc">{{a.description}}</p>
    </a>
    <p class="achievement-stats">(Achieved by {{GAS[a.name].rate}}% of players)</p>
</div>
{% endmacro %}

{% block body %}
<nav id="main-nav">
    <a class="nav-item" href="/">⌂ Home</a>
    <a class="nav-item" href="/player/">→ Players</a>
    <a class="nav-item" href="/deck/">→ Decks</a>
    <a class="nav-item" href="/formats/">→ Format Stats</a>
    <a class="nav-item" href="/card/">→ Cards</a>
    <b class="nav-item">↓ Achievements</b>
</nav>

<h1>Achievements</h1>

<p>These achievements are all "for fun" and unofficial. More ideas for achievements are welcome.</p>

<section id="achievements-list">
    {% for a in ACHIEVEMENTS.values() %}
    {% if not a.refracted %}
    {{ achievement(a) }}
    {% endif %}
    {% endfor %}

    <h2>Refracted Achievements</h2>
    <p class="explanation">(These achievements are only available at special Refracted events. More details to come.)</p>
    {% for a in ACHIEVEMENTS.values() %}
    {% if a.refracted %}
    {{ achievement(a) }}
    {% endif %}
    {% endfor %}

    <p class="explanation">Refracted achievement art by {% for artist,url in REFRACTED_ARTISTS.items() %}{% if loop.last and not loop.index0 == 0 %}and {% endif %}<a href="{{url}}">{{artist}}</a>{% if not loop.last and REFRACTED_ARTISTS|length > 1 %}, {% endif %}{% endfor %}.</p>
</section>

{% endblock %}
