{% extends "base.html.jinja2" %}

{% block subtitle %}Decks - {% endblock %}

{% block body %}
<nav id="main-nav">
    <a class="nav-item" href="/">⌂ Home</a>
    <a class="nav-item" href="/player/">→ Players</a>
    <b class="nav-item">↓ Decks</b>
    <a class="nav-item" href="/formats/">→ Format Stats</a>
    <a class="nav-item" href="/card/">→ Cards</a>
</nav>

<section id="arche-list">
<h1>Deck Archetypes</h1>

<table class="archetypes">
    <thead><tr>
        <th>Name</th>
        <th>Appearances</th>
        <th>Overall win rate</th>
        <th>Events won</th>
    </tr></thead>
    <tbody>
    {% for arche in archetypes %}
    <tr class="p-row">
        <td>
            <a href="/deck/{{slugify(arche.name)}}.html">{{arche.name}}</a>
            <div class="deck-bgs">
                <img class="deck-bg" src="/static/bg-{{slugify(arche.name)}}.jpg" alt="" />
            </div>
        </td>
        <td>{{arche.matched_decks|length}}</td>
        <td>{{arche.winrate}}%</td>
        <td>{{aew[arche.name]|length}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</section>
{% endblock %}
