{% extends "base.html.jinja2" %}

{% block subtitle %}{{arche.name}} - {% endblock %}

{% macro arche_definition(a) %}
<ul>
    <li><b>Basic Element:</b> {% if a.require_element %}{{a.require_element}}{% else %}(Any){% endif %}</li>
    <li><b>At least one of the following cards (excluding sideboard):</b>
        <ul>
            {% for card in a.require %}
            <li>{{card}}</li>
            {% endfor %}
        </ul>
    </li>
    {% if a.exclude %}<li><b>None of the following cards:</b>
        <ul>
            {% for card in a.exclude %}
            <li>{{card}}</li>
            {% endfor %}
        </ul>
    </li>{% endif %}
    {% if a.require_types %}<li><b>Card type counts (in mainboard):</b>
        <ul>
            {% for t,tcount in a.require_types.items() %}
            <li>{{t}}: at least {{tcount}}</li>
            {% endfor %}
        </ul>
    </li>{% endif %}
</ul>
{% endmacro %}

{% block body %}
<nav id="main-nav">
    <a class="nav-item" href="/">⌂ Home</a>
    <a class="nav-item" href="/player/">→ Players</a>
    <a class="nav-item" href="/deck/">⮤ Decks</a>
    <b class="nav-item">↓ {{arche.name}}</b>
    <a class="nav-item" href="/formats/">→ Format Stats</a>
    <a class="nav-item" href="/card/">→ Cards</a>
    <a class="nav-item" href="/achievement/">→ Achievements</a>
</nav>

<h1>Deck Archetype: {{arche.name}}</h1>

<section id="arche-info">
    <ul class="scooped-corners">
        <li><b>Appearances recorded</b>: {{arche.matched_decks|length}}</li>
        <li><b>Earliest appearance</b>: {{arche.earliest}}</li>
        <li><b>Overall win rate</b>: {{arche.winrate}}%</li>
        <li><b>Total events won</b>: {{wins|length}}</li>
    </ul>
</section>

<section id="arche-def">
    <h2>Definition</h2>
    <button onclick="toggle('#arche-def > .togglable')">Glimpse definition</button>

    <div class="togglable collapse">
    {% if arche.name == "Rogue Decks" %}
    <p>These decks were not classified as any known archetype.</p>
    {% else %}
    {{ arche_definition(arche) }}
    {% endif %}
    </div>

    {% if arche.subtypes %}
    <h3 class="togglable collapse">Sub-Archetypes</h3>
    <button class="togglable collapse" onclick="toggle('#sub-archetypes > .togglable')">Glimpse Definitions</button>
    <div id="sub-archetypes" class="togglable collapse">
        <p class="togglable collapse">In addition to the the {{arche.name}} requirements, a deck can qualify for any or all of the following subtypes by meeting their requirements:</p>
        {% for st in arche.subtypes %}
        <h4 class="togglable collapse">{{st.name}}</h4>
        <div class="togglable collapse">{{arche_definition(st)}}</div>
        {% endfor %}
    </div>
    {% endif %}
</section>

{% macro top_cards(a, collapse=True) %}
    <div class="top-cards tabcontent{% if collapse %} collapse{% endif %}" id="top-cards-{{slugify(a.name)}}">
        <p class="explanation">(Based on {{a.matched_decks|length}} decks with a combined win rate of {{a.winrate}}%.)</p>
        {% for card_o in a.card_freq.values() %}
            {% if loop.index0 < 20 %}
            {{ macros.cardimg(card_o, link=True)}}
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}

<section id="deck-composition">
    <h2>Deck Composition</h2>
    <button onclick="toggle('#deck-composition > .togglable')">Glimpse Deck Composition</button>
    
    {% if not arche.require_element %}
    <h3 class="togglable collapse">Elements</h3>
    <div class="element-meta collapse togglable">
        {{macros.elementpie(arche.elements)}}
    </div>
    {% endif %}

    <h3 class="togglable collapse">Champions</h3>
    {{ macros.elementbars(arche.champdata) }}

    <h3 class="togglable collapse">Top Cards</h3>
    <p class="explanation togglable collapse">(Excluding champions. Showing the percentage of decks containing at least 1 copy in main or material deck.)</p>
    <div class="tabs togglable collapse">
        <button class="tab activetab" onclick="opentab(this, '#top-cards-{{slugify(arche.name)}}')">Overall</button>
        {% for st in arche.subtypes %}
            <button class="tab" onclick="opentab(this, '#top-cards-{{slugify(st.name)}}')">{% if st.shortname %}{{st.shortname}}{% else %}{{st.name}}{% endif %}</button>
        {% endfor %}
        {% if not arche.require_element %}
            {% for et in arche.el_subtypes.values() %}
                {% if et.matched_decks|length > 1 %}
                <button class="tab" onclick="opentab(this, '#top-cards-{{slugify(et.name)}}')">{{et.name}}</button>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% for c,ct in arche.champ_subtypes.items() %}
            {% if ct.matched_decks|length > 1 %}
            <button class="tab" onclick="opentab(this, '#top-cards-{{slugify(ct.name)}}')">{{ct.name}}</button>
            {% endif %}
        {% endfor %}
    </div>
    <div class="tabwrapper togglable collapse">
        {{top_cards(arche, collapse=False)}}
        {% for st in arche.subtypes %}
            {{top_cards(st)}}
        {% endfor %}
        {% if not arche.require_element %}
            {% for et in arche.el_subtypes.values() %}
                {% if et.matched_decks|length > 1 %}
                {{top_cards(et)}}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% for ct in arche.champ_subtypes.values() %}
            {% if ct.matched_decks|length > 1 %}
            {{top_cards(ct)}}
            {% endif %}
        {% endfor %}
    </div>

    <h3 class="togglable collapse">Averages</h3>
    <p class="explanation togglable collapse">(Maindeck cards only. Cards with multiple types count for each type. Floating memory counts if a deck has any champion that can use it.)</p>
    <ul class="averages togglable collapse">
        <li><b>Average Floating Memory:</b> {{arche.average_floating|int}}</li>
        {% for cardtype,avg in arche.average_of_type.items() %}
        {% if avg|int > 0 %}
        <li><b>Average {{cardtype|title}} Cards:</b> {{avg|int}}</li>
        {% endif %}
        {% endfor %}
    </ul>
</section>

{% if arche.name != "Rogue Decks" %}
<section id="arche-results">
    <h2>Results By Season</h2>
    <button onclick="toggle('#arche-results > .togglable')">Glimpse Results</button>

    {% for season, szn in seasons.items() %}
    {% if szn.archedata.exists_for(arche.name) %}
    <div id="season-{{szn.code}}" class="togglable collapse season-chunk">
        <h3>{{szn.name}}</h3>
        <ul>
            <li><b>Share of meta</b>: {{szn.archedata[arche.name][1]}}%</li>
            <li><b>Events won</b>: 
                {% if szn.arche_wins[arche.name]|length %}
                {{szn.arche_wins[arche.name]|length}} events
                {% else %}None{% endif %}
            </li>
        </ul>
        <h4>Matchups</h4>
        {{ macros.battlechart(szn.battlechart, only_show=arche.name) }}
    </div>
    {% endif %}
    {% endfor %}
</section>
{% endif %}

<section id="sightings">
    <h2>Sightings</h2>
    <button onclick="toggle('#sightings > .togglable')">Glimpse List</button>
    <div class="togglable collapse event-filters">
        {{ macros.event_filters(EVENT_TYPES, lesser=True) }}
    </div>
    <button id="wins-filter" class="togglable collapse" onclick="show_wins()">Show event winners only</button>
    <p id="wins-expl" class="explanation collapse">Showing only events where the deck won overall</p>
    <button id="sightingsreset" class="collapse" onclick="reset_sightings()">Reset filter</button>
    <table class="togglable collapse">
        <thead><tr>
            <th>Date</th><th>Player</th><th>Event</th><th>Deck</th><th>Placement</th><th>Swiss Record</th>
        </tr></thead>
        <tbody>
        {% for deck in arche.matched_decks[0:page_end] %}
            {{ macros.p_row_arche(deck, loop, events) }}
        {% endfor %}
        </tbody>
    </table>

    {{ macros.paginate(base_link="/deck/"+slugify(arche.name),
        page_number=1,
        max_page=max_page,
        collapse=True)
    }}
</section>

<!-- DECKLISTS -->
{% for d in arche.matched_decks[0:page_end] %}
{{ macros.decklist(d.entrant, "deck_"~d.entrant.evt_id~"_"~d.entrant.id, events[d.entrant.evt_id], True) }}
{% endfor %}

{% include "deckviewscript.html.jinja2" %}

{% endblock %}
