<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block subtitle %}{% endblock %}Fractal of Insight</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_180.png">
    <link rel="icon" href="/favicon_180.png" sizes="180x180">
    <link rel="icon" href="/favicon_32.png" sizes="32x32">
    <link rel="stylesheet" href="/static/style.css?v=9" />
    <script type="text/javascript" src="/static/ui.js?v=10"></script>

    {% import "macros.html.jinja2" as macros %}
</head>
<body>
{% block body %}
{% endblock %}

<footer>
    <a href="https://github.com/mDuo13/fractal-of-insight/">&copy; 2024 mDuo13. Open-source.</a> This is a fan site. Grand Archive itself and all card images are &copy; Weebs of the Shore.
</footer>
</body>
</html>
