{% extends "base.html.jinja2" %}

{% block subtitle %}Card Stats - {% endblock %}

{% block body %}
<nav id="main-nav">
    <a class="nav-item" href="/">⌂ Home</a>
    <a class="nav-item" href="/player/">→ Players</a>
    <a class="nav-item" href="/deck/">→ Decks</a>
    <a class="nav-item" href="/formats/">→ Format Stats</a>
    <b class="nav-item">↓ Cards</b>
    <a class="nav-item" href="/achievement/">→ Achievements</a>
</nav>
<h1>Card Stats</h1>
<section id="card-stats-overview">
    <ul class="scooped-corners">
        <li><b>Total cards played</b>: {{cardstats|length}}</li>
    </ul>
</section>

<section id="most-popular-cards">
    <h2>Most Played Cards</h2>
    <button onclick="toggle('#most-popular-cards > .togglable')">Glimpse most played</button>
    <p class="explanation collapse togglable">(Number of decklists recorded during the given time period that contain at least one copy of the card.)</p>

    <div class="tabs collapse togglable">
        <button class="tab activetab" data-tabfor="all-time" onclick="opentab(this)">(All Time)</button>
        {% for szn in cardstats.most_played_by_season.keys() %}
        <button class="tab" data-tabfor="{{szn}}" onclick="opentab(this)">{{szn}} Season</button>
        {% endfor %}
    </div>
    <div class="tabwrapper collapse togglable">
        <div class="top-cards tabcontent" data-tabof="all-time">
        {% for cardname, cardstat in cardstats %}
            {% if loop.index0 < 20 %}
                {%- set card_o = {
                    'card': cardname,
                    'img': carddata[cardname]['img'],
                    'quantity': cardstat.num_appearances~'×'
                } -%}
                {{ macros.cardimg(card_o, link=True) }}
            {% endif %}
        {% endfor %}
        </div>
        {% for szn, most_played in cardstats.most_played_by_season.items() %}
        <div class="top-cards tabcontent collapse" data-tabof="{{szn}}">
            {% for cardname, cardstat in most_played.items() %}
                {% if loop.index0 < 20 %}
                    {%- set card_o = {
                        'card': cardname,
                        'img': carddata[cardname]['img'],
                        'quantity': cardstat.num_appearances~'×'
                    } -%}
                    {{ macros.cardimg(card_o, link=True) }}
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div id="most-played-from-set" class="collapse togglable">
        <h3>Most Played from Set</h3>

        <div class="tabs">
        {% for setname in set_groups.keys() %}
        {% if card_stats_by_set[setname]|length %}
        <button class="tab{% if loop.index0 == 0 %} activetab{% endif %}" data-tabfor="{{slugify(setname)}}" onclick="opentab(this)">{{setname}}</button>
        {% endif %}
        {% endfor %}
        </div>
        <div class="tabwrapper">
        {% for setname, set_group in set_groups.items() %}
            {% set setstats = card_stats_by_set[setname] %}
            {% if setstats|length %}
            <div class="tabcontent {% if loop.index0 != 0 %} collapse{% endif %}" data-tabof="{{slugify(setname)}}">
                {% if setname == "Other" %}
                <p class="explanation">(All cards introduced in special sets like Proxia's Vault or promos.)</p>
                {% else %}
                <p class="explanation">(All cards introduced in the {{setname}} family of sets: {% for set_ in set_group.sets %}{% if loop.last %}and {% endif %}{{set_.name}}{% if not loop.last %}, {% endif %}{% endfor %}. {% if setname == "Abyssal Heaven" %} Note, Nullifying Mirror counts appearances from being pre-released in Proxia's Vault.{% elif setname == "Phantom Monarchs" %}Note, Purifying Thurible counts appearances from being pre-released in Proxia's Vault.{% endif %})</p>
                {# <p class="explanation">(All cards introduced in the following sets: {{", ".join(set_group.sets|selectattr("name"))}})</p> #}
                {% endif %}
                <div class="top-cards">
                {% for cardname, cardstat in setstats %}
                    {% if loop.index0 < 20 %}
                        {% set card_o = {
                            'card': cardname,
                            'img': get_card_img(cardname, from_set_group=setname),
                            'quantity': cardstat.num_appearances~'×'
                        } %}
                        {{ macros.cardimg(card_o, link=True) }}
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</section>

<section id="winningest-cards">
    <h2>Winningest Cards</h2>
    <button onclick="toggle('#winningest-cards > .togglable')">Glimpse winningest</button>
    <p class="explanation collapse togglable">(Based on win rate of decks containing at least one copy, including sideboard. Cards with fewer than {{PAD_UNTIL}} appearances have their win rates weighted towards 50%.)</p>
    <div class="tabs collapse togglable">
        <button class="tab activetab" data-tabfor="all-time" onclick="opentab(this)">(All Time)</button>
        <button class="tab" data-tabfor="recent" onclick="opentab(this)">(Past 60 days)</button>
        {% for szn in cardstats.winningest_by_season.keys() %}
            <button class="tab" data-tabfor="{{szn}}" onclick="opentab(this)">{{szn}} Season</button>
        {% endfor %}
    </div>

    <div class="tabwrapper collapse togglable">
        <div class="top-cards tabcontent" data-tabof="all-time">
        {% for cardname, cardstat in cardstats.winningest.items() %}
            {% if loop.index0 < 20 %}
                {% set card_o = {
                    'card': cardname,
                    'img': carddata[cardname]['img'],
                    'pct': cardstat.weighted_winrate
                } %}
                {{ macros.cardimg(card_o, link=True) }}
            {% endif %}
        {% endfor %}
        </div>
        <div class="top-cards tabcontent collapse" data-tabof="recent">
        {% for cardname, cardstat in cardstats.hottest.items() %}
            {% if loop.index0 < 20 %}
                {% set card_o = {
                    'card': cardname,
                    'img': carddata[cardname]['img'],
                    'pct': cardstat.hot_rating
                } %}
                {{ macros.cardimg(card_o, link=True) }}
            {% endif %}
        {% endfor %}
            <p class="explanation">(Win rates for past 60 days are weighted towards 500 <em>matches</em> instead of 500 <em>decklists</em>.)</p>
        </div>
        {% for szn, winningest in cardstats.winningest_by_season.items() %}
        <div class="top-cards tabcontent collapse" data-tabof="{{szn}}">
            {% for cardname, cardstat in winningest.items() %}
                {% if loop.index0 < 20 %}
                    {% set card_o = {
                        'card': cardname,
                        'img': carddata[cardname]['img'],
                        'pct': cardstat.weighted_winrate
                    } %}
                    {{ macros.cardimg(card_o, link=True) }}
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>

{#<section id="hot-cards">
    <h2>Hot Cards</h2>
    <button onclick="toggle('#hot-cards > .togglable')">Glimpse hot cards</button>
    <p class="explanation collapse togglable">(Based on weighted win rate in the last 60 days.)</p>
    <div class="top-cards collapse togglable">
    {% for cardname, cardstat in cardstats.hottest.items() %}
        {% if loop.index0 < 20 %}
            {% set card_o = {
                'card': cardname,
                'img': carddata[cardname]['img'],
                'pct': cardstat.hot_rating
            } %}
            {{ macros.cardimg(card_o, link=True) }}
        {% endif %}
    {% endfor %}
    </div>
</section>#}

<section id="all-cards">
    <h2>Full Card List</h2>
    <button onclick="toggle('#all-cards > .togglable')">Glimpse all</button>
    <p class="explanation collapse togglable">(All cards with at least one recorded appearance.)</p>
    <input class="searchbox togglable collapse" data-target="#all-cards tbody tr" placeholder="Search" />
    <button class="reset-button togglable collapse" data-target="#all-cards tbody tr" title="Reset search" onclick="reset_search(this)">❌</button>
    <table class="togglable collapse">
        <thead><tr>
            <th>Card</th>
            <th>Appearances <br/>(All time)</th>
            <th>Win Rate <br/>(All time)</th>
            <th>Appearances <br/>(~60 days)</th>
            <th>Win Rate <br/>(~60 days, <br/>weighted)</th>
            <th>Price</th>
        </tr></thead>
        <tbody>
        {% for cardname, cardstat in cardstats.alphabetical.items() %}
            <tr>
                <td><a href="/card/{{slugify(cardname)}}.html">{{cardname}}</a></td>
                <td>{{cardstat.num_appearances}}</td>
                <td>{{cardstat.winrate}}%</td>
                <td>{{cardstat.hot_appearances}}</td>
                <td>{% if cardstat.hot_appearances == 0 %}N/A{% else %}{{cardstat.hot_rating}}%{% endif %}</td>
                <td>{{card_prices[cardname]}}</td>
            </tr>
        {%- endfor %}
        </tbody>
    </table>
</section>

<section id="unplayed-cards">
    <h2>Unplayed Cards</h2>
    <button onclick="toggle('#unplayed-cards > .togglable')">Glimpse unplayed</button>
    <p class="explanation collapse togglable">(Cards that have not been in any public decklist.)</p>
    <div class="top-cards collapse togglable">
    {% for cardname, card_o in carddata.items() %}
        {%- if cardname not in cardstats and "TOKEN" not in card_o["types"] and "MASTERY" not in card_o["types"] and card_o.legality == None %}
            <a class="cardimg" href="https://index.gatcg.com/card/{{card_o['slug']}}" title="GA Index lookup"><img src="{{card_o['img']}}" alt="{{card_o['card']}}" loading="lazy" /></a>
        {% endif -%}
    {% endfor %}
    </div>
</section>

{% endblock %}
