{% extends "base.html.jinja2" %}

{% block subtitle %}Decklist Comparison - {% endblock %}

{% block body %}
<nav id="main-nav">
    <a class="nav-item" href="/">⌂ Home</a>
    <a class="nav-item" href="/player/">→ Players</a>
    <a class="nav-item" href="/deck/">→ Decks</a>
    <b class="nav-item"> ↓ Decklist Comparison</b>
    <a class="nav-item" href="/champion/">→ Champions</a>
    <a class="nav-item" href="/card/">⮤ Cards</a>
</nav>

<h1>Decklist Comparison</h1>

<form class="decklist-delta">
    <fieldset class="delta-1">
        <label for="delta-evt-1">Event 1 Omnidex ID:
            <input type="number" id="delta-evt-1" value="" />
        </label>
        <label for="delta-p-1">Player 1 Omnidex ID:
            <input type="number" id="delta-p-1" value="" />
        </label>
    </fieldset>
    <fieldset class="delta-2">
        <label for="delta-evt-2">Event 2 Omnidex ID:
            <input type="number" id="delta-evt-2" value="" />
        </label>
        <label for="delta-p-2">Player 2 Omnidex ID:
            <input type="number" id="delta-p-2" value="" />
        </label>
    </fieldset>
    <button id="delta-go">Glimpse the δ <span id="delta-loader" class="loader collapse"><img src="/static/crunchykm.gif" alt="(loading)" /></span></button>
    <div class="error collapse" id="delta-err"></div>
</form>

<p class="explanation">(Presented as the changes to go from deck 1 ⇒ deck 2)</p>
<section id="delta-view">
    <h3 class="d1 name"></h3>
    <h3 class="d2 name"></h3>
    <h4>Materials</h4>
    <div class="d1 mat-deck">
        <div class="cardcount"></div>
        <div class="deck_gfx"></div>
    </div>
    <div class="d2 mat-deck">
        <div class="cardcount"></div>
        <div class="deck_gfx"></div>
    </div>
    <h4>Maindeck</h4>
    <div class="d1 maindeck">
        <div class="cardcount"></div>
        <div class="deck_gfx"></div>
    </div>
    <div class="d2 maindeck">
        <div class="cardcount"></div>
        <div class="deck_gfx"></div>
    </div>
    <h4>Sideboard</h4>
    <div class="d1 sideboard">
        <div class="cardcount"></div>
        <div class="deck_gfx"></div>
    </div>
    <div class="d2 sideboard">
        <div class="cardcount"></div>
        <div class="deck_gfx"></div>
    </div>
</section>
<script>
const carddb = {{carddb|safe}}
</script>
<script src="/static/delta.js">
</script>
{% endblock %}
