<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>{{evt.name}} Analysis</title>
<link rel="apple-touch-icon" sizes="180x180" href="/favicon_180.png">
<link rel="icon" href="/favicon_180.png" sizes="180x180">
<link rel="icon" href="/favicon_32.png" sizes="32x32">
<link rel="stylesheet" href="/static/style.css" />
<script type="text/javascript" src="/static/ui.js"></script>
{% import "macros.html.jinja2" as macros %}
</head>
<body>
<nav id="main_nav">
    <a class="nav-item" href="/">⌂ Home</a>
    <a class="nav-item" href="/{{evt.season}}/">⮤ {{evt.season}} Season</a>
</nav>

<section id="evt-info">
    <h1>
    <img src="/static/{{evt.category['shortname']}}.svg" alt="({{evt.category['name']}})" title="Event category: ({{evt.category['name']}})" width="30" height="35" />
    {{evt.name}}</h1>
    <ul class="scooped-corners">
        <li><b>Date:</b> {{evt.date}}</li>
        <li><b>Entrants:</b> {{evt.players|length}}</li>
        {% if evt.evt.address %}<li><b>Location:</b> {{evt.evt.address}}</li>{% endif %}
        <li><b>Omnidex ID:</b> <a href="https://omni.gatcg.com/events/{{evt.id}}">{{evt.id}}</a></li>
    </ul>
</section>

<section id="players">
    <h2>Players</h2>
    <button onclick="toggle('#players > .togglable')">Show/Hide Player List</button>

    <table class="collapse togglable">
        <thead><tr>
            <th>Rank</th><th>Player</th><th>Record</th><th>Deck</th>{#<th>Elo</th>#}<th>Elo Change</th><th>Matches</th>
        </tr></thead>
        <tbody>
        {% for p in evt.players %}
        <tr class="p-row n-styles-{{p.deck.els|length+p.deck.archetypes|length+p.deck.lineages|length}}">
            <td class="p_rank">{{loop.index}}</td>
            <td class="playername" title="Elo: {{p.elo}}">{{p}}</td>
            <td class="p_record">{{p.record}}</td>
            <td class="p_deck">{% if p.deck %}<a href="#deck_{{p.id}}" onclick="opendecklist('#deck_{{p.id}}')">{{p.deck}}</a>{% else %}No decklist{% endif %}
                <div class="deck-bgs">
                {% for el in p.deck.els %}
                    <img class="deck-bg" src="/static/bg-{{slugify(el)}}.jpg" alt="" />
                {% endfor%}
                {% for arche in p.deck.archetypes %}
                    <img class="deck-bg" src="/static/bg-{{slugify(arche)}}.jpg" alt="" />
                {% endfor%}
                {% for lineage in p.deck.lineages %}
                    <img class="deck-bg" src="/static/bg-{{slugify(lineage)}}.jpg" alt="" />
                {% endfor%}
                </div>
            </td>
            {# <td class="elo">{{p.elo}}</td> #}
            <td class="elodiff">{% if p.elo_diff > 0 %}+{% endif %}{{p.elo_diff|round|int}}</td>
            <td class="showmatches">
                <button onclick="showmatches({{p.id}})">Show Matches</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</section>

{% if evt.num_decklists %}
<section id="meta_composition">
    <h2>Meta Composition</h2>
    <button onclick="toggle('#meta_composition > .togglable')">Show/Hide Meta Composition</button>
    <div class="element-meta collapse togglable">
        {{macros.elementpie(evt.elements)}}
    </div>

    <div class="collapse togglable element-bars">
        {% for archetype, pct, elpcts in evt.archedata %}
            <div class="archetype">
                <div class="el-pct">{{pct}}%</div>
                <div class="arche-bar" style="height: {{4*pct}}px">
                    {% for el,elpct in elpcts.items() %}
                        <div class="el-bar {{el|lower}}" style="height: {% if elpct > 0 %}{{elpct+0.5}}{% else %}0{% endif %}%" title="{{elpct}}% {{el}}">&nbsp;</div>
                    {% endfor %}
                </div>
            <h4>{{archetype}}</h4>
            </div>
        {% endfor %}
    </div>
    <p class="togglable collapse">Note archetypes don't sum to 100% because decks can be multiple archetypes.</p>
</section>

<section id="head-to-head">
    <h2>Head-to-Head</h2>
    <button onclick="toggle('#head-to-head > .togglable')">Show/Hide Head-to-Head Chart</button>
    <p class="collapse togglable">Deck on the left's win rate vs deck on the top</p>

    {{ macros.battlechart(evt.battlechart, evt.archedata) }}

</section>
{% endif %}{# end num_decklists conditional#}

<section id="matches">
    <h2>Matches</h2>
    <button onclick="toggle('#matches > .togglable')">Show/Hide Matches</button>
    <div class="stages togglable collapse">
    <button id="matchreset" class="collapse" onclick="reset_matches()">Reset match filter</button>
    <p>😮 indicates an upset—the losing player had a {{config.UPSET_CUTOFF}}+ Elo advantage.</p>
    {% for stage in evt.evt["stages"] %}
    <h3>Stage {{stage["id"]}} ({{stage["type"]|title}})</h3>
    <div class="rounds">
        {% for rnd in stage["rounds"] %}
            <h4>Round {{rnd["id"]}}</h4>
            {% for match in rnd["matches"] %}
                {% set p1 = evt.pdict[match["pairing"][0]["id"]] %}
                {% if match["pairing"]|length > 1 %}
                {% set p2 = evt.pdict[match["pairing"][1]["id"]] %}
                {% else %}
                {% set p2 = None %}
                {% endif %}
                <div class="match p_{{p1.id}} {% if p2 %}p_{{p2.id}}{% endif %}">
                    <div class="player">
                        {{macros.pname_w_dl(p1)}}
                        {% if p2 and p2.elo - config.UPSET_CUTOFF > p1.elo and match["pairing"][0]["score"] > match["pairing"][1]["score"] %}{{macros.upset()}}{% endif %}
                        {% if match["pairing"]|length > 1 %}
                        <span class="matchscore {{match['pairing'][0]['status']}}">{{match["pairing"][0]["score"]}}</span>
                        {% endif %}
                    </div>
                    {% if match["pairing"]|length > 1 %}
                    <div class="player">
                        {{macros.pname_w_dl(p2)}}
                        {% if p1.elo - config.UPSET_CUTOFF > p2.elo and match["pairing"][1]["score"] > match["pairing"][0]["score"] %}{{macros.upset()}}{% endif %}
                        <span class="matchscore {{match['pairing'][1]['status']}}">{{match["pairing"][1]["score"]}}</span>
                    </div>
                    {% else %}
                    <div class="player bye">Bye</div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    {% endfor %}
    </div><!--/.stages-->
</section>

<!-- DECKLISTS -->
{% for p in evt.players %}
{% if p.deck %}
<div class="decklist collapse" id="deck_{{p.id}}">
    <button class="closeX" onclick="closedecklist('#deck_{{p.id}}')">❌</button>
    <button class="toggle_gfx_btn" onclick="togglegfx()">📝</button>
    <a class="permalink" href="#deck_{{p.id}}">🔗</a>
    <h3>{{p.username}}'s {{p.deck}}</h3>
    <h4>Materials <span class="cardcount">({{p.deck.dl["material"]|length}} cards)</span></h4>
    <ul class="deck_txt collapse">
        {% for card_o in p.deck.dl["material"] %}
        <li>{{card_o["card"]}}</li>
        {% endfor %}
    </ul>
    <div class="deck_gfx">
        {% for card_o in p.deck.dl["material"] %}
        <div class="cardimg"><img src="{{card_o['img']}}" alt="{{card_o['card']}}" loading="lazy" /></div>
        {% endfor %}
    </div>
    <h4>Maindeck <span class="cardcount">({{p.deck.main_total}} cards)</span></h4>
    <ul class="deck_txt collapse">
        {% for card_o in p.deck.dl["main"] %}
        <li>{{card_o["quantity"]}}x {{card_o["card"]}}</li>
        {% endfor %}
    </ul>
    <div class="deck_gfx">
        {% for card_o in p.deck.dl["main"] %}
        <div class="cardimg"><img src="{{card_o['img']}}" alt="{{card_o['card']}}" loading="lazy" /><span class="quant">{{card_o["quantity"]}}</div>
        {% endfor %}
    </div>
    <h4>Sideboard <span class="cardcount">({{p.deck.side_total}} cards)</span></h4>
    <ul class="deck_txt collapse">
        {% for card_o in p.deck.dl["sideboard"] %}
        <li>{{card_o["quantity"]}}x {{card_o["card"]}}</li>
        {% endfor %}
    </ul>
    <div class="deck_gfx">
        {% for card_o in p.deck.dl["sideboard"] %}
        <div class="cardimg"><img src="{{card_o['img']}}" alt="{{card_o['card']}}" loading="lazy" /><span class="quant">{{card_o["quantity"]}}</div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endfor %}

<footer>
    <a href="https://github.com/mDuo13/fractal-of-insight/">&copy; 2024 mDuo13. Open-source.</a>
</footer>
<script type="text/javascript">
// Open hash on page-load
if (window.location.hash) {
    //console.debug("hash:",window.location.hash)
    const defaultobj = document.querySelector(window.location.hash)
    if (defaultobj) {
        defaultobj.classList.remove("collapse")
    }
}
</script>
</body>
</html>
