{% extends "base.html.jinja2" %}

{% block subtitle %}{{evt.name}} Analysis - {% endblock %}

{% block body %}
<nav id="main_nav">
    <a class="nav-item" href="/">⌂ Home</a>
    <a class="nav-item" href="/{{evt.season}}/">⮤ {{evt.season}} Season</a>
</nav>

<section id="evt-info">
    <h1>
    <img src="/static/{{evt.category['shortname']}}.svg" alt="({{evt.category['name']}})" title="Event category: ({{evt.category['name']}})" width="30" height="35" />
    {{evt.name}}</h1>
    <ul class="scooped-corners">
        <li><b>Date:</b> {{evt.date}}</li>
        <li><b>Entrants:</b> {{evt.players|length}}</li>
        {% if evt.evt.address %}<li><b>Location:</b> {{evt.evt.address}}</li>{% endif %}
        <li><b>Omnidex ID:</b> <a href="https://omni.gatcg.com/events/{{evt.id}}">{{evt.id}}</a></li>
    </ul>
</section>

<section id="players">
    <h2>Players</h2>
    <button onclick="toggle('#players > .togglable')">Show/Hide Player List</button>

    {% if evt.top_cut|length %}
    <h3 class="collapse togglable" id="topcut">Single Elimination Top Cut</h3>
    <table class="collapse togglable">
        <thead><tr>
            <th>Rank</th><th>Player</th><th>Swiss Record</th><th>Deck</th><th>Elo Change</th><th>Matches</th>
        </tr></thead>
        <tbody>
        {% for p in evt.top_cut %}
            {{ macros.p_row(p, loop) }}
        {% endfor %}
        </tbody>
    </table>

    <h3 class="collapse togglable">Below Top Cut</h3>
    {% endif %}

    <table class="collapse togglable">
        <thead><tr>
            <th>Rank</th><th>Player</th><th>Record</th><th>Deck</th>{#<th>Elo</th>#}<th>Elo Change</th><th>Matches</th>
        </tr></thead>
        <tbody>
        {% for p in evt.players %}
            {% if not evt.top_cut|length or loop.index > evt.top_cut|length %}
            {{ macros.p_row(p, loop) }}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</section>

{% if evt.num_decklists %}
<section id="meta_composition">
    <h2>Meta Composition</h2>
    <button onclick="toggle('#meta_composition > .togglable')">Show/Hide Meta Composition</button>
    <h3 class="togglable collapse">Elements</h3>
    <div class="element-meta collapse togglable">
        {{macros.elementpie(evt.elements)}}
    </div>

    <h3 class="togglable collapse">Archetypes</h3>
    {{ macros.elementbars(evt.archedata) }}
    <p class="togglable collapse">Note archetypes don't sum to 100% because decks can be multiple archetypes.</p>

    <h3 class="togglable collapse">Champions</h3>
    {{ macros.elementbars(evt.champdata) }}
    <p class="togglable collapse">This breakdown only shows the basic elements from the deck's spirit(s), not elements added by Lv1+ champions.</p>
</section>

<section id="head-to-head">
    <h2>Head-to-Head</h2>
    <button onclick="toggle('#head-to-head > .togglable')">Show/Hide Head-to-Head Chart</button>
    <p class="collapse togglable">Deck on the left's win rate vs deck on the top</p>

    {{ macros.battlechart(evt.battlechart, evt.archedata) }}

</section>
{% endif %}{# end num_decklists conditional#}

<section id="matches">
    <h2>Matches</h2>
    <button onclick="toggle('#matches > .togglable')">Show/Hide Matches</button>
    <div class="stages togglable collapse">
    <button id="matchreset" class="collapse" onclick="reset_matches()">Reset match filter</button>
    <p>😮 indicates an upset—the losing player had a {{config.UPSET_CUTOFF}}+ Elo advantage.</p>
    {% for stage in evt.evt["stages"] %}
    <h3>Stage {{stage["id"]}} ({{stage["type"]|title}})</h3>
    <div class="rounds">
        {% for rnd in stage["rounds"] %}
            <h4>Round {{rnd["id"]}}</h4>
            {% for match in rnd["matches"] %}
                {% set p1 = evt.pdict[match["pairing"][0]["id"]] %}
                {% if match["pairing"]|length > 1 %}
                {% set p2 = evt.pdict[match["pairing"][1]["id"]] %}
                {% else %}
                {% set p2 = None %}
                {% endif %}
                <div class="match p_{{p1.id}} {% if p2 %}p_{{p2.id}}{% endif %}">
                    <div class="player">
                        {{macros.pname_w_dl(p1)}}
                        {% if p2 and p2.elo - config.UPSET_CUTOFF > p1.elo and match["pairing"][0]["score"] > match["pairing"][1]["score"] %}{{macros.upset()}}{% endif %}
                        {% if match["pairing"]|length > 1 %}
                        <span class="matchscore {{match['pairing'][0]['status']}}">{{match["pairing"][0]["score"]}}</span>
                        {% endif %}
                    </div>
                    {% if match["pairing"]|length > 1 %}
                    <div class="player">
                        {{macros.pname_w_dl(p2)}}
                        {% if p1.elo - config.UPSET_CUTOFF > p2.elo and match["pairing"][1]["score"] > match["pairing"][0]["score"] %}{{macros.upset()}}{% endif %}
                        <span class="matchscore {{match['pairing'][1]['status']}}">{{match["pairing"][1]["score"]}}</span>
                    </div>
                    {% else %}
                    <div class="player bye">Bye</div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    {% endfor %}
    </div><!--/.stages-->
</section>

<!-- DECKLISTS -->
{% for p in evt.players %}
{% if p.deck %}
{{ macros.decklist(p) }}
{% endif %}
{% endfor %}

{% include "deckviewscript.html.jinja2" %}

{% endblock %}
