{% extends "base.html.jinja2" %}

{% block subtitle %}Formats - {% endblock %}


{% block body %}
<nav id="main-nav">
    <a class="nav-item" href="/">⌂ Home</a>
    <a class="nav-item" href="/player/">→ Players</a>
    <a class="nav-item" href="/deck/">→ Decks</a>
    <b class="nav-item">↓ Format Stats</b>
    <a class="nav-item" href="/card/">→ Cards</a>
    <a class="nav-item" href="/achievement/">→ Achievements</a>
</nav>

<h1>Standard Formats</h1>

Compare data for standard formats split by card legality changes including cards being banned (Category 3) or added to Proxia's Vault, excluding April Fools changes.

<div id="elements">
    <h2>Elements</h2>

    <div class="tabs">
        {% for fmt in formats %}
        <button class="tab{% if loop.index0 == 0 %} activetab{% endif %}" data-tabfor="{{slugify(fmt.name)}}" onclick="opentabs(this)">{{fmt.name}}</button>
        {% endfor %}
    </div>
    <div class="tabwrapper">
        {% for fmt in formats %}
        <div class="tabcontent{% if loop.index0 != 0 %} collapse{% endif %}" data-tabof="{{slugify(fmt.name)}}">
            <h3>{{fmt.name}} <span class="explanation">({{fmt.start_time}} – {{fmt.end_time|default("Ongoing", true)}})</span></h3>
            <p class="explanation">{{fmt.desc}} ({{fmt.events|length}} events)</p>
            <div class="element-meta">
                {{macros.elementpie(fmt.elements)}}
            </div>
        </div>
        {% endfor %}
    </div>

</div>


<div id="champions">
    <h2>Champions</h2>

    <div class="tabs">
        {% for fmt in formats %}
        <button class="tab{% if loop.index0 == 0 %} activetab{% endif %}" data-tabfor="{{slugify(fmt.name)}}" onclick="opentabs(this)">{{fmt.name}}</button>
        {% endfor %}
    </div>
    
    <div class="tabwrapper">
        {% for fmt in formats %}
        <div class="tabcontent{% if loop.index0 != 0 %} collapse{% endif %}" data-tabof="{{slugify(fmt.name)}}">
            <h3>{{fmt.name}} <span class="explanation">({{fmt.start_time}} – {{fmt.end_time|default("Ongoing", true)}})</span></h3>
            <p class="explanation">{{fmt.desc}} ({{fmt.events|length}} events)</p>
            {{ macros.elementbars(fmt.champdata, collapse=False) }}
        </div>
        {% endfor %}
    </div>
</div>


<div id="archetypes">
    <h2>Archetypes</h2>

    <div class="tabs">
        {% for fmt in formats %}
        <button class="tab{% if loop.index0 == 0 %} activetab{% endif %}" data-tabfor="{{slugify(fmt.name)}}" onclick="opentabs(this)">{{fmt.name}}</button>
        {% endfor %}
    </div>

    <div class="tabwrapper">
        {% for fmt in formats %}
        <div class="tabcontent{% if loop.index0 != 0 %} collapse{% endif %}" data-tabof="{{slugify(fmt.name)}}">
            <h3>{{fmt.name}} <span class="explanation">({{fmt.start_time}} – {{fmt.end_time|default("Ongoing", true)}})</span></h3>
            <p class="explanation">{{fmt.desc}} ({{fmt.events|length}} events)</p>
            {{ macros.elementbars(fmt.archedata, collapse=False) }}
        </div>
        {% endfor %}
    </div>
</div>

<div id="head-to-head">
    <h2>Head-to-Head</h2>

    <div class="tabs">
        {% for fmt in formats %}
        <button class="tab{% if loop.index0 == 0 %} activetab{% endif %}" data-tabfor="{{slugify(fmt.name)}}" onclick="opentabs(this)">{{fmt.name}}</button>
        {% endfor %}
    </div>

    <div class="tabwrapper">
        {% for fmt in formats %}
        <div class="tabcontent{% if loop.index0 != 0 %} collapse{% endif %}" data-tabof="{{slugify(fmt.name)}}">
            <h3 >{{fmt.name}} <span class="explanation">({{fmt.start_time}} – {{fmt.end_time|default("Ongoing", true)}})</span></h3>
            <p class="explanation">{{fmt.desc}} ({{fmt.events|length}} events)</p>
            <p>Deck on the left's win rate vs deck on the top</p>
            {{ macros.battlechart(fmt.battlechart, collapse=False) }}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
