{% extends "base.html.jinja2" %}

{% block body %}
    <h1>
        Fractal of Insight
        <span class="flavor">An enigma that defies, and yet, sharpens reality.</span>
    </h1>
    <p class="intro">Statistics for Grand Archive TCG competition</p>

    <nav id="main-nav">
        <span class="nav-item">See all:</span>
        <b class="nav-item">↓ Events</b>
        <a class="nav-item" href="/player/">→ Players</a>
        <a class="nav-item" href="/deck/">→ Decks</a>
        <a class="nav-item" href="/formats/">→ Format Stats</a>
        <a class="nav-item" href="/card/">→ Cards</a>
        <a class="nav-item" href="/achievement/">→ Achievements</a>
        {#<a class="nav-item" href="/spoilers/">→ Spoilers</a>#}
    </nav>

    {{ macros.event_filters(EVENT_TYPES) }}

    {% for seasonname, season in seasons.items() %}
    <section class="season" id="{{season['code']}}">
        <h2><a href="{{season['code']}}/">{% if season.name == "Offseason" %}Offseasons{% else %}<img alt="{{season}}" src="/static/{{season['code']}}_logo.png" />{% endif %}</a></h2>
        {% for evt in season["events"] %}
        {{ macros.eventbox(evt) }}
        {% endfor %}
    </section>
    {% endfor %}
{% endblock %}
