{% extends "base.html.jinja2" %}

{% block body %}
    <h1>Fractal of Insight</h1>
    <p class="intro">Statistics for Grand Archive TCG competition</p>

    {{ macros.event_filters(EVENT_TYPES) }}

    {% for seasonname, season in seasons.items() %}
    <section class="season" id="{{season['code']}}">
        <h2><a href="{{season['code']}}/"><img alt="{{season}}" src="/static/{{season['code']}}_logo.png" /></a></h2>
        {% for evt in season["events"] %}
        {{ macros.eventbox(evt) }}
        {% endfor %}
    </section>
    {% endfor %}
{% endblock %}
