{% macro elementpie(elements) %}
    {% set el_colors = {"Norm": "#ba9", "Fire": "#b30", "Wind": "#6c3", "Water": "#03d", "Unknown": "#000"} %}
    {% set ns = namespace(cumu = 0) %}
    <div class="pie-chart" style="background: conic-gradient({% for el, quant, pct in elements %}{{el_colors[el]}} {{ns.cumu}}%{% set ns.cumu = ns.cumu + pct %}, {{el_colors[el]}} {{ns.cumu}}%{% if not loop.last%}, {% endif %}{% endfor %})">&nbsp;</div>

    <table class="element-table">
        <thead><tr>
            <th>Element</th>
            <th># of decks</th>
            <th>%</th>
        </tr></thead>
        <tbody>
            {% for el, quant, pct in elements %}
            <tr>
                <th>{{el}}</td>
                <td>{{quant|int}}</td>
                <td>{{pct}}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}



{% macro upset(cutoff) %}
<span class="upset" title="Upset: the other player has a {{config.UPSET_CUTOFF}}+ Elo advantage">😮</span>
{% endmacro %}



{% macro pname_w_dl(p) %}
<a class="playername" {% if p.deck %}href="#deck_{{p.id}}" onclick="opendecklist('#deck_{{p.id}}')"{% endif %} title="Elo: {{p.elo}}">{{p.username}}</a>
{% endmacro %}

{% macro team_member_cell(p) %}
<td class="team-member n-styles-{{p.deck.els|length+p.deck.lineages|length}}">
    <a href="/player/{{p.id}}.html" title="Elo: {{p.elo}}">{{p}}</a>
    <div class="p_deck">
        {% if p.deck %}<a href="#deck_{{p.id}}" onclick="opendecklist('#deck_{{p.id}}')">{{p.deck}}</a>{% else %}No decklist{% endif %}
            <div class="deck-bgs">
            {% for el in p.deck.els %}
                <img class="deck-bg" src="/static/bg-{{slugify(el)}}.jpg" alt="" />
            {% endfor%}
            {#{% for arche in p.deck.archetypes %}
                <img class="deck-bg" src="/static/bg-{{slugify(arche)}}.jpg" alt="" />
            {% endfor%}#}
            {% for lineage in p.deck.lineages %}
                <img class="deck-bg" src="/static/bg-{{slugify(lineage)}}.jpg" alt="" />
            {% endfor%}
            </div>
    </div>
</td>
{% endmacro %}

{% macro p_row(p, loop) %}
    <tr class="p-row n-styles-{{p.deck.els|length+p.deck.archetypes|length+p.deck.lineages|length}}">
        <td class="p_rank">{{loop.index}}</td>
        <td class="playername" title="Elo: {{p.elo}}"><a href="/player/{{p.id}}.html">{{p}}</a></td>
        <td class="p_record">{{p.record}}</td>
        <td class="p_deck">{% if p.deck %}<a href="#deck_{{p.id}}" onclick="opendecklist('#deck_{{p.id}}')">{{p.deck}}</a>{% else %}No decklist{% endif %}
            <div class="deck-bgs">
            {% for el in p.deck.els %}
                <img class="deck-bg" src="/static/bg-{{slugify(el)}}.jpg" alt="" />
            {% endfor%}
            {% for arche in p.deck.archetypes %}
                <img class="deck-bg" src="/static/bg-{{slugify(arche)}}.jpg" alt="" />
            {% endfor%}
            {% for lineage in p.deck.lineages %}
                <img class="deck-bg" src="/static/bg-{{slugify(lineage)}}.jpg" alt="" />
            {% endfor%}
            </div>
        </td>
        {# <td class="elo">{{p.elo}}</td> #}
        <td class="elodiff">{% if p.elo_diff > 0 %}+{% endif %}{{p.elo_diff|round|int}}</td>
        <td class="showmatches">
            <button onclick="showmatches({{p.id}})">Show Matches</button>
        </td>
    </tr>
{% endmacro %}

{% macro p_row_profilepage(p, loop, event) %}
    <tr class="p-row n-styles-{{p.deck.els|length+p.deck.archetypes|length+p.deck.lineages|length}}" data-decklists="{% if p.deck %}1{% else %}0{% endif %}" data-category="{{slugify(event.category['name'])}}">
        <td class="p_date">{{event.date}}</td>
        <td class="p_event"><a href="/{{event.season}}/{{event.id}}.html">{{event.name}}</a></td>
        {% if event.format == TEAM_STANDARD %}
        {% set t = event.teams[p.team|lower] %}
        <td class="p_placement">{% if event.winning_team == t %}{{winner()}} {% endif %}{{t.placement}}/{{event.teams|length}} teams</td>
        <td class="p_record">{{t.record}}</td>
        {% else %}
        <td class="p_placement">{% if event.winner == p %}{{winner()}} {% endif %}{{p.placement}}/{{event.players|length}}</td>
        <td class="p_record">{{p.record}}</td>
        {% endif %}
        <td class="p_deck">{% if p.deck %}<a href="#deck_{{event.id}}" onclick="opendecklist('#deck_{{event.id}}')">{{p.deck}}</a>{% else %}No decklist{% endif %}
            <div class="deck-bgs">
            {% for el in p.deck.els %}
                <img class="deck-bg" src="/static/bg-{{slugify(el)}}.jpg" alt="" />
            {% endfor%}
            {% for arche in p.deck.archetypes %}
                <img class="deck-bg" src="/static/bg-{{slugify(arche)}}.jpg" alt="" />
            {% endfor%}
            {% for lineage in p.deck.lineages %}
                <img class="deck-bg" src="/static/bg-{{slugify(lineage)}}.jpg" alt="" />
            {% endfor%}
            </div>
        </td>
        {# <td class="elo">{{p.elo}}</td> #}
        <td class="elodiff">{% if p.elo_diff > 0 %}+{% endif %}{{p.elo_diff|round|int}}</td>
    </tr>
{% endmacro %}

{% macro winner() %}<span class="win_icon" title="This player won the event">👑</span>{% endmacro %}

{% macro p_row_arche(deck, loop, events) %}
    {% set event = events[deck.entrant.evt_id] %}
    <tr class="p-row n-styles-{{deck.els|length+deck.archetypes|length+deck.lineages|length}}{% if event.winner.deck == deck %} winner{% endif %}" data-decklists="{{event.num_decklists}}" data-category="{{slugify(event.category['name'])}}">
        <td class="p_date">{{deck.date}}</td>
        <td class="playername" title="Elo: {{deck.entrant.elo}}"><a href="/player/{{deck.entrant.id}}.html">{{deck.entrant}}</a></td>
        
        <td class="p_event"><a href="/{{event.season}}/{{event.id}}.html">{{event.name}}</a></td>
        <td class="p_deck"><a href="#deck_{{event.id}}_{{deck.entrant.id}}" onclick="opendecklist('#deck_{{event.id}}_{{deck.entrant.id}}')">{{deck}}</a>
            <div class="deck-bgs">
            {% for el in deck.els %}
                <img class="deck-bg" src="/static/bg-{{slugify(el)}}.jpg" alt="" />
            {% endfor%}
            {% for arche in deck.archetypes %}
                <img class="deck-bg" src="/static/bg-{{slugify(arche)}}.jpg" alt="" />
            {% endfor%}
            {% for lineage in deck.lineages %}
                <img class="deck-bg" src="/static/bg-{{slugify(lineage)}}.jpg" alt="" />
            {% endfor%}
            </div>
        </td>
        <td class="p_placement">{% if event.winner == deck.entrant %}{{winner()}} {% endif %}{{deck.entrant.placement}}/{{event.players|length}}</td>
        <td class="p_record">{{deck.entrant.record}}</td>
    </tr>
{% endmacro %}

{% macro flag(countrycode, full=False) %}
{% set region = REGIONS[countrycode]|default({"name": "", "flag": countrycode}) %}
{#{% set region = REGIONS[countrycode] %}#}
<span class="flag" title="{{region.name}}">{{region.flag}}</span>{% if full %} {{region.name}}{% endif %}
{% endmacro %}

{% macro eventbox(evt) %}
<a class="evt {{slugify(evt.category['name'])}}" href="/{{evt.season}}/{{evt.id}}.html" data-decklists="{{evt.num_decklists}}" data-category="{{slugify(evt.category['name'])}}">
    <div class="evt-mainbox">
        <h3>{{evt.name}}</h3>
        <div class="date_loc">{{evt.date}} {{flag(evt.country)}}</div>
        <div class="playercount">{{evt.players|length}} entrants</div>
        <div class="decklistcount">{% if evt.decklist_status == "full" %}All decklists{% elif evt.decklist_status == "partial" %}{{evt.num_decklists}} decklists{% endif %}</div>
        <div class="winner">Winner: {% if evt.winner %}{{evt.winner.username}}{% elif evt.winning_team %}{{evt.winning_team.name}}{% else %}(Ongoing){% endif %}</div>
    </div>
    <div class="event-category">{{evt.category["name"]}}</div>
</a>
{% endmacro %}

{% macro event_filters(event_types, lesser=False) %}
<form>
    <fieldset>
        <legend>Filter events</legend>
        {% if not lesser %}
        <input type="checkbox" id="cb_decklists" value=0 onclick="update_evt_filtering()" />
        <label for="cb_decklists">Only events with decklists</label>
        <fieldset>
            <legend>Event Category</legend>
        {% endif %}
            {% for cat in event_types.values() %}
            <input type="checkbox" name="category" id="cb_cat_{{cat.shortname}}" value="{{cat.shortname}}" checked="checked" onclick="update_evt_filtering()" />
            <label for="cb_cat_{{cat.shortname}}">{{cat.name}}</label>
            {% endfor %}
        {% if not lesser %}
        </fieldset>
        {% endif %}
    </fieldset>
</form>
{% endmacro %}

{% macro battlechart(bc, archedata, only_show=False, link_matches=False) %}
<table class="{% if not only_show %}collapse togglable{% endif %}">
    <thead><tr>
        <th>Deck</th>
    {% for archetype, records in bc.items() %}
        {% if archedata.exists_for(archetype) > 0 %}
        <th><a href="/deck/{{slugify(archetype)}}.html">{{archetype}}</a></th>
        {% endif %}
    {% endfor %}
    </tr></thead>
    <tbody>
        {% for archetype, records in bc.items() %}
        {% if not only_show or only_show == archetype %}
        {% if archedata.exists_for(archetype) > 0 %}
        <tr>
            <th><a href="/deck/{{slugify(archetype)}}.html">{{archetype}}</a>
            <div class="arche-overall">{{records[OVERALL].pct}}%
                <div class="matchcount">{% if link_matches %}
                    <a href="#matches" class="matches" onclick="show_arche_matches('{{slugify(archetype)}}')">
                    ({{records[OVERALL].matches}} matches)
                    </a>
                {% else %}
                    <div class="matches">({{records[OVERALL].matches}} matches)</div>
                {% endif %}
                </div>
            </div></th>
            {% for opp, r in records.items() %}
                {% if archedata.exists_for(archetype) > 0 and opp != OVERALL %}
                <td class="{{r.rating}}">
                    {% if r.rating == "no_data" %}
                    (No data)
                    {% else %}
                    <div class="pct">{{r.pct}}%</div>
                    <div class="matchcount">
                    {% if link_matches %}
                        <a href="#matches" onclick="show_matchup_matches('{{slugify(archetype)}}', '{{slugify(opp)}}')">
                        ({{r.matches - r.mirror}} matches)
                        </a>
                    {% else %}
                        ({{r.matches - r.mirror}} matches)
                    {% endif %}
                    </div>
                    {% endif %}
                </td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endif %}
        {% endif %}
        {% endfor %}
    </tbody>
</table>
<p class="explanation{% if not only_show %} collapse togglable{% endif %}">(Match counts may not sum as expected because some decks count towards multiple archetypes. Head-to-head stats exclude byes and intentional draws.)</p>
{% endmacro %}


{% macro elementbars(data, link=False) %}
<div class="collapse togglable element-bars">
    {% for label, pct, elpcts in data %}
    {% if pct > 0 %}
        <div class="archetype">
            <div class="el-pct">{{pct}}%</div>
            <div class="arche-bar" style="height: {{4*pct}}px">
                {% for el,quant,elpct in elpcts %}
                    <div class="el-bar {{el|lower}}" style="height: {% if elpct > 0 %}{{elpct+0.1}}{% else %}0{% endif %}%" title="{{elpct}}% {{el}}">&nbsp;</div>
                {% endfor %}
            </div>
        <h4>{% if link %}<a href="/deck/{{slugify(label)}}.html">{{label}}</a>{% else %}{{label}}{% endif %}</h4>
        </div>
    {% endif %}
    {% endfor %}
</div>
{% endmacro %}

{% macro decklist(p, id, event, external=False) %}
<div class="decklist collapse" id="{{id}}">
    <div class="decklist-inner">
        <button class="closeX" onclick="closedecklist('#{{id}}')">❌</button>
        <button class="toggle_gfx_btn" onclick="togglegfx()">📝</button>
        <button class="omniexport_btn" onclick="omnidexexport('#{{id}} .omniexport')"><img alt="Export" title="Omnidex Export (copy to clipboard)" src="/static/export.svg" width="24" height="24" /></button>
        <a class="permalink" href="#{{id}}" onclick="copypermalink()">🔗</a>
        <h3>{{p.username}}'s {{p.deck}}{% if external %} ({{event.name}}){% endif %}</h3>
        <div class="decklist-viewbox">
            <h4>Materials <span class="cardcount">({{p.deck.mat_total}} cards)</span></h4>
            <ul class="deck_txt collapse">
                {% for card_o in p.deck.dl["material"] %}
                <li>{{card_o["card"]}}</li>
                {% endfor %}
            </ul>
            <div class="deck_gfx">
                {% for card_o in p.deck.dl["material"] %}
                <div class="cardimg"><img src="{{card_o['img']}}" alt="{{card_o['card']}}" loading="lazy" />{% if card_o["quantity"] != 1 %}<span class="quant">{{card_o["quantity"]}}</span>{% endif %}</div>
                {% endfor %}
            </div>
            <h4>Maindeck <span class="cardcount">({{p.deck.main_total}} cards)</span></h4>
            <ul class="deck_txt collapse">
                {% for card_o in p.deck.dl["main"] %}
                <li>{{card_o["quantity"]}}x {{card_o["card"]}}</li>
                {% endfor %}
            </ul>
            <div class="deck_gfx">
                {% for card_o in p.deck.dl["main"] %}
                <div class="cardimg"><img src="{{card_o['img']}}" alt="{{card_o['card']}}" loading="lazy" /><span class="quant">{{card_o["quantity"]}}</span></div>
                {% endfor %}
            </div>
            <h4>Sideboard <span class="cardcount">({{p.deck.side_total}} cards, {{p.deck.side_points}} points)</span></h4>
            <ul class="deck_txt collapse">
                {% for card_o in p.deck.dl["sideboard"] %}
                <li>{{card_o["quantity"]}}x {{card_o["card"]}}</li>
                {% endfor %}
            </ul>
            <div class="deck_gfx">
                {% for card_o in p.deck.dl["sideboard"] %}
                <div class="cardimg"><img src="{{card_o['img']}}" alt="{{card_o['card']}}" loading="lazy" /><span class="quant">{{card_o["quantity"]}}</span></div>
                {% endfor %}
            </div>
            <textarea class="omniexport">
# Material Deck
{% for card_o in p.deck.dl["material"] %}
{{card_o["quantity"]}} {{card_o["card"]}}
{%- endfor %}

# Main Deck
{% for card_o in p.deck.dl["main"] %}
{{card_o["quantity"]}} {{card_o["card"]}}
{%- endfor %}

# Sideboard
{% for card_o in p.deck.dl["sideboard"] %}
{{card_o["quantity"]}} {{card_o["card"]}}
{%- endfor -%}
            </textarea>
            <h4>Card Counts</h4>
            <p class="explanation">(Maindeck cards only. Cards with multiple types count for each type. Floating memory counts if the deck has any champion that can use it.)</p>
            <ul class="deck-stats">
                <li><b>Floating Memory</b>: {{p.deck.floating}}</li>
                {% for cardtype,cardcount in p.deck.card_types.items() %}
                <li><b>{{cardtype|title}} Cards:</b> {{cardcount}}</li>
                {% endfor %}
            </ul>

            <div class="similar-decks">
            <h4>Similar Decks</h4>
            <p class="explanation">(Similar decks are calculated on a point system where maindeck cards are worth 1 point, material deck cards are 4 points, and sideboards are discounted by ⅓. Only decks with at least 90% overlap are listed.)</p>
            {% if p.deck.similar_decks %}
                {% set before,sameday,after = p.deck.split_similar_decks() %}
                {% if before %}
                <h5>Before this</h5>
                <ul>
                {% for otherdeck, sim in before %}
                    <li><a href="/{{otherdeck.entrant.season}}/{{otherdeck.entrant.evt_id}}.html#deck_{{otherdeck.entrant.id}}">{{otherdeck.entrant.username}} on {{otherdeck.date}} ({{sim}}%)</a></li>
                {% endfor %}
                </ul>
                {% endif %}
                {% if sameday %}
                <h5>Same day</h5>
                <ul>
                {% for otherdeck, sim in sameday %}
                    {% if not external and event.id == otherdeck.entrant.evt_id %}
                    <li><a href="#deck_{{otherdeck.entrant.id}}" onclick="opendecklist('#deck_{{otherdeck.entrant.id}}')">{{otherdeck.entrant.username}} in this event ({{sim}}%)</a></li>
                    {% else %}
                    <li><a href="/{{otherdeck.entrant.season}}/{{otherdeck.entrant.evt_id}}.html#deck_{{otherdeck.entrant.id}}">{{otherdeck.entrant.username}} in event #{{otherdeck.entrant.evt_id}} ({{sim}}%)</a></li>
                    {% endif %}
                {% endfor%}
                </ul>
                {% endif %}
                {% if after %}
                <h5>After this</h5>
                <ul>
                {% for otherdeck, sim in p.deck.similar_decks %}
                    <li><a href="/{{otherdeck.entrant.season}}/{{otherdeck.entrant.evt_id}}.html#deck_{{otherdeck.entrant.id}}">{{otherdeck.entrant.username}} on {{otherdeck.date}} ({{sim}}%)</a></li>
                {% endfor %}
                </ul>
                {% endif %}
            {% else %}
            <p>None.</p>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endmacro %}
