{% macro elementpie(elements) %}
    {% set el_colors = {"Norm": "#ba9", "Fire": "#b30", "Wind": "#6c3", "Water": "#03d", "Unknown": "#000"} %}
    {% set ns = namespace(cumu = 0) %}
    <div class="pie-chart" style="background: conic-gradient({% for el, pct in elements %}{{el_colors[el]}} {{ns.cumu}}%{% set ns.cumu = ns.cumu + pct %}, {{el_colors[el]}} {{ns.cumu}}%{% if not loop.last%}, {% endif %}{% endfor %})">&nbsp;</div>

    <table class="element-table">
        <thead><tr>
            <th>Element</th>
            <th>% of decks</th>
        </tr></thead>
        <tbody>
            {% for el, pct in elements %}
            <tr>
                <th>{{el}}</td>
                <td>{{pct}}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}



{% macro upset(cutoff) %}
<span class="upset" title="Upset: the other player has a {{config.UPSET_CUTOFF}}+ Elo advantage">😮</span>
{% endmacro %}



{% macro pname_w_dl(p) %}
<a class="playername" {% if p.deck %}href="#deck_{{p.id}}" onclick="opendecklist('#deck_{{p.id}}')"{% endif %} title="Elo: {{p.elo}}">{{p.username}}</a>
{% endmacro %}


{% macro p_row(p, loop) %}
    <tr class="p-row n-styles-{{p.deck.els|length+p.deck.archetypes|length+p.deck.lineages|length}}">
        <td class="p_rank">{{loop.index}}</td>
        <td class="playername" title="Elo: {{p.elo}}">{{p}}</td>
        <td class="p_record">{{p.record}}</td>
        <td class="p_deck">{% if p.deck %}<a href="#deck_{{p.id}}" onclick="opendecklist('#deck_{{p.id}}')">{{p.deck}}</a>{% else %}No decklist{% endif %}
            <div class="deck-bgs">
            {% for el in p.deck.els %}
                <img class="deck-bg" src="/static/bg-{{slugify(el)}}.jpg" alt="" />
            {% endfor%}
            {% for arche in p.deck.archetypes %}
                <img class="deck-bg" src="/static/bg-{{slugify(arche)}}.jpg" alt="" />
            {% endfor%}
            {% for lineage in p.deck.lineages %}
                <img class="deck-bg" src="/static/bg-{{slugify(lineage)}}.jpg" alt="" />
            {% endfor%}
            </div>
        </td>
        {# <td class="elo">{{p.elo}}</td> #}
        <td class="elodiff">{% if p.elo_diff > 0 %}+{% endif %}{{p.elo_diff|round|int}}</td>
        <td class="showmatches">
            <button onclick="showmatches({{p.id}})">Show Matches</button>
        </td>
    </tr>
{% endmacro %}

{% macro eventbox(evt) %}
<a class="evt {{slugify(evt.category['name'])}}" href="/{{evt.season}}/{{evt.id}}.html" data-decklists="{{evt.num_decklists}}" data-category="{{slugify(evt.category['name'])}}">
    <div class="evt-mainbox">
        <h3>{{evt.name}}</h3>
        <div class="date">{{evt.date}}</div>
        <div class="playercount">{{evt.players|length}} entrants</div>
        <div class="decklistcount">{% if evt.decklist_status == "full" %}All decklists{% elif evt.decklist_status == "partial" %}{{evt.num_decklists}} decklists{% endif %}</div>
        <div class="winner">Winner: {% if evt.top_cut%}{{evt.top_cut[0].username}}{% else %}{{evt.players[0].username}}{% endif %}</div>
    </div>
    <div class="event-category">{{evt.category["name"]}}</div>
</a>
{% endmacro %}



{% macro battlechart(bc, archedata) %}
<table class="collapse togglable">
    <thead><tr>
        <th>Deck</th>
    {% for archetype, records in bc.items() %}
        {% if archedata[loop.index0][1] > 0 %}
        <th>{{archetype}}</th>
        {% endif %}
    {% endfor %}
    </tr></thead>
    <tbody>
        {% for archetype, records in bc.items() %}
        {% if archedata[loop.index0][1] > 0 %}
        <tr>
            <th>{{archetype}}</th>
            {% for opp, r in records.items() %}
                {% if archedata[loop.index0][1] > 0 %}
                <td class="{{r.rating}}">
                    {% if r.rating == "no_data" %}
                    (No data)
                    {% else %}
                    <div class="pct">{{r.pct}}%</div>
                    <div class="matchcount">({{r.matches}} matches)</div>
                    {% endif %}
                </td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endmacro %}


{% macro elementbars(data) %}
<div class="collapse togglable element-bars">
    {% for label, pct, elpcts in data %}
    {% if pct > 0 %}
        <div class="archetype">
            <div class="el-pct">{{pct}}%</div>
            <div class="arche-bar" style="height: {{4*pct}}px">
                {% for el,elpct in elpcts.items() %}
                    <div class="el-bar {{el|lower}}" style="height: {% if elpct > 0 %}{{elpct+0.1}}{% else %}0{% endif %}%" title="{{elpct}}% {{el}}">&nbsp;</div>
                {% endfor %}
            </div>
        <h4>{{label}}</h4>
        </div>
    {% endif %}
    {% endfor %}
</div>
{% endmacro %}
