{% extends "base.html.jinja2" %}

{% block subtitle %}Players - {% endblock %}

{% block body %}
<nav id="main-nav">
    <a class="nav-item" href="/">⌂ Home</a>
    <b class="nav-item">↓ Players</b>
    <a class="nav-item" href="/deck/">→ Decks</a>
    <a class="nav-item" href="/formats/">→ Format Stats</a>
    <a class="nav-item" href="/card/">→ Cards</a>
    <a class="nav-item" href="/achievement/">→ Achievements</a>
</nav>

<section id="player-list">
    <h1>Grand Archive Players</h1>
    <table class="togglable">
        <thead><tr>
            <th>Username</th>
            <th>Events Recorded</th>
            <th>Region</th>
            <th>Latest Event</th>
            <th>Most-played Champion</th>
        </tr></thead>
        <tbody>
        {% for p in players %}
            {% set e = events[p.events[0].evt_id] %}
            <tr>
                <td><a href="/player/{{p.id}}.html">{{p.username}} #{{p.id}}</a></td>
                <td>{{p.events|length}}</td>
                <td>{{macros.flag(p.region)}}
                <td><a href="/{{e.season}}/{{e.id}}.html">{{e.name}}</a></td>
                <td>{{p.mostplayed()}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
