{% extends "base.html.jinja2" %}

{% block subtitle %}{{player.username}} - {% endblock %}

{% block body %}
<nav id="main-nav">
    <a class="nav-item" href="/">⌂ Home</a>
    <a class="nav-item" href="/player/">⮤ Players</a>
    <b class="nav-item">↓ {{player.username}}</b>
    <a class="nav-item" href="/deck/">→ Decks</a>
    <a class="nav-item" href="/formats/">→ Format Stats</a>
    <a class="nav-item" href="/card/">→ Cards</a>
    <a class="nav-item" href="/achievement/">→ Achievements</a>
</nav>

<section id="player-info">
    <h1>Player: {{player.username}}</h1>
    <ul class="scooped-corners">
        <li><b>Omnidex ID</b>: #{{player.id}}</li>
        {% if player.region %}<li><b>Region:</b> {{macros.flag(player.region, True)}}</li>{% endif %}
        <li><b>Recent Elo</b>: {{player.events[0].elo}}</li>
        <li><b>Recorded events</b>: {{player.events|length}}</li>
        {% if player.rivals %}<li><b>Rival(s)</b>: <ul>{% for r in player.rivals %}<li><a href="/player/{{r.opp_id}}.html">{{players[r.opp_id].username}} #{{r.opp_id}}</a> ({{r.wins}}-{{r.losses}}-{{r.draws}})</li>{% endfor %}</ul><span class="explanation">(Rivals are players you've faced the most times in tracked events, minimum 3 matches.)</span></li>{% endif %}
        {% if player.judge_level %}<li><b>Judge Level:</b> {{player.judge_level}}{% endif %}
    </ul>
</section>

<section id="achievements">
    <h2>Achievements</h2>
    <button onclick="toggle('#achievements > .togglable')">Glimpse achievements</button>
    <div class="togglable collapse achievementlist">
        {% for a in player.achievements -%}
            {{ macros.achievement(a) }}
        {%- endfor %}
        {% if not player.achievements %}
            <p class="description">This player hasn't earned any achievements yet.</p>
        {% endif %}
    </div>

</section>

<section id="entered-events">
    <h2>Events Entered</h2>
    <button onclick="toggle('#entered-events > .togglable')">Glimpse List</button>
    <div class="togglable collapse">
        {{ macros.event_filters(EVENT_TYPES) }}
    </div>
    <table class="togglable collapse">
        <thead><tr>
            <th>Date</th><th>Event</th><th>Placement</th><th>Swiss Record</th><th>Deck</th><th>Elo Change</th>
        </tr></thead>
        <tbody>
        {% for p in player.events %}
            {{ macros.p_row_profilepage(p, loop, events[p.evt_id]) }}
        {% endfor %}
        </tbody>
    </table>
</section>

{% if player.num_decklists %}
<section id="deck-trends">
    <h2>Deck Trends</h2>
    <button onclick="toggle('#deck-trends > .togglable')">Glimpse Deck Trends</button>
    <h3 class="togglable collapse">Elements</h3>
    <div class="element-meta collapse togglable">
        {{macros.elementpie(player.elements)}}
    </div>

    <h3 class="togglable collapse">Champions</h3>
    {{ macros.elementbars(player.champdata) }}

    <h3 class="togglable collapse">Archetypes</h3>
    {{ macros.elementbars(player.archedata, True) }}
</section>
{% endif %}

{% if player.events_judged %}
<section id="judged-events">
    <h2>Events Judged</h2>
    <button onclick="toggle('#judged-events > .togglable')">Glimpse List</button>
    <table class="togglable collapse">
        <thead><tr>
            <th>Date</th><th>Event</th>
        </tr></thead>
        <tbody>
        {% for judge_evt in player.events_judged %}
            <tr>
                <td>{{judge_evt.event.date}}</td>
                <td><a href="/{{judge_evt.event.season}}/{{judge_evt.event.id}}.html">{{judge_evt.event.name}}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endif %}

<!-- DECKLISTS -->
{% for p in player.events %}
{% if p.deck %}
{{ macros.decklist(p, "deck_"~p.evt_id, events[p.evt_id], True) }}
{% endif %}
{% endfor %}

{% include "deckviewscript.html.jinja2" %}

{% endblock %}
