{% extends "base.html.jinja2" %}

{% block subtitle %}Players - {% endblock %}

{% block body %}
<nav id="main-nav">
    <a class="nav-item" href="/">⌂ Home</a>
    <b class="nav-item">↓ Players</b>
    <a class="nav-item" href="/deck/">→ Decks</a>
    <a class="nav-item" href="/formats/">→ Format Stats</a>
    <a class="nav-item" href="/card/">→ Cards</a>
    <a class="nav-item" href="/achievement/">→ Achievements</a>
</nav>

<section id="player-list">
    <h1>Grand Archive Players</h1>
    <input class="searchbox" data-target="#player-list .pprofile" placeholder="Search" />
    <button class="reset-button" data-target="#player-list .pprofile" title="Reset search" onclick="reset_search(this)">❌</button>
    <div class="player-grid">
    {% for p in players %}
        {% set e = events[p.events[0].evt_id] %}
        <div class="pprofile" data-name="{{p.username}}" data-eventcount="{{p.events|length}}" data-omniid="{{p.id}}">
            <a href="/player/{{p.id}}.html">
                <span class="p-name">{{p}}</span>
                <span class="p-avatar">
                {% if p.most_played_element() %}
                    <img src="/static/icon/icon-{{p.most_played_element()|slugify}}.png" alt="{{p.most_played_element()}}" />
                {% endif %}
                {% if p.most_played_champ() %}
                    <img src="/static/icon/icon-{{p.most_played_champ()|slugify}}.png" alt="{{p.most_played_champ()}}" />
                {% endif %}
                    <span class="p-region">{{macros.flag(p.region)}}</span>
                </span>
            </a>
            <p class="events-recorded">Events recorded:
                <span class="event-count">{{p.events|length}}</span>
            </p>
            <p class="last-seen">Last seen:
                <a href="/{{e.season}}/{{e.id}}.html">{{e.name}}</a>
            </p>
        </div>
    {% endfor %}
    </div>
    {#<table class="togglable">
        <thead><tr>
            <th>Username</th>
            <th>Events Recorded</th>
            <th>Region</th>
            <th>Latest Event</th>
            <th>Most-played Champion</th>
        </tr></thead>
        <tbody>
        {% for p in players %}
            {% set e = events[p.events[0].evt_id] %}
            <tr>
                <td><a href="/player/{{p.id}}.html">{{p.username}} #{{p.id}}</a></td>
                <td>{{p.events|length}}</td>
                <td>{{macros.flag(p.region)}}</td>
                <td><a href="/{{e.season}}/{{e.id}}.html">{{e.name}}</a></td>
                <td>{{p.mostplayed()}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>#}
</section>
{% endblock %}
