{% extends "base.html.jinja2" %}

{% block subtitle %}{{player.username}} - {% endblock %}

{% block body %}
<nav id="main-nav">
    <a class="nav-item" href="/">⌂ Home</a>
    <a class="nav-item" href="/player/">⮤ Players</a>
</nav>

<section id="player-info">
    <h1>Player: {{player.username}}</h1>
    <ul class="scooped-corners">
        <li><b>Omnidex ID</b>: #{{player.id}}</li>
        {% if player.region %}<li><b>Region:</b> {{macros.flag(player.region, True)}}</li>{% endif %}
        <li><b>Recent Elo</b>: {{player.events[0].elo}}</li>
        <li><b>Recorded events</b>: {{player.events|length}}</li>
        {% if player.rivals %}<li><b>Rival(s)</b>: {% for r in player.rivals %}<a href="/player/{{r}}.html">{{players[r].username}} #{{r}}</a> ({{player.losses[r]}} losses){% endfor %}<br><span class="explanation">(Your rival is the player who has beaten you the most times in tracked events, minimum 3 times.)</span></li>{% endif %}
    </ul>
</section>

<section id="entered-events">
    <h2>Events Entered</h2>
    <button onclick="toggle('#entered-events > .togglable')">Show/Hide List</button>
    <div class="togglable collapse">
        {{ macros.event_filters(EVENT_TYPES) }}
    </div>
    <table class="togglable collapse">
        <thead><tr>
            <th>Date</th><th>Event</th><th>Placement</th><th>Swiss Record</th><th>Deck</th><th>Elo Change</th>
        </tr></thead>
        <tbody>
        {% for p in player.events %}
            {{ macros.p_row_profilepage(p, loop, events[p.evt_id]) }}
        {% endfor %}
        </tbody>
    </table>
</section>

{% if player.num_decklists %}
<section id="deck-trends">
    <h2>Deck Trends</h2>
    <button onclick="toggle('#deck-trends > .togglable')">Show/Hide Deck Trends</button>
    <h3 class="togglable collapse">Elements</h3>
    <div class="element-meta collapse togglable">
        {{macros.elementpie(player.elements)}}
    </div>

    <h3 class="togglable collapse">Champions</h3>
    {{ macros.elementbars(player.champdata) }}

    <h3 class="togglable collapse">Archetypes</h3>
    {{ macros.elementbars(player.archedata, True) }}
</section>

{# TODO: archetype, element stats, maybe head-to-head stats vs various archetypes too? #}
{% endif %}{# end num_decklists conditional#}

<!-- DECKLISTS -->
{% for p in player.events %}
{% if p.deck %}
{{ macros.decklist(p, "deck_"~p.evt_id, events[p.evt_id]) }}
{% endif %}
{% endfor %}

{% include "deckviewscript.html.jinja2" %}

{% endblock %}
