{% extends "base.html.jinja2" %}

{% block subtitle %}{{szn}} - {% endblock %}

{% block body %}
<nav id="main_nav">
<a class="nav-item" href="/">⌂ Home</a>
</nav>
<section id="szn-info">
<h1><img alt="{{szn.name}}" src="/static/{{szn.code}}_logo.png" /> <br />{{szn}}</h1>
<ul class="scooped-corners">
        <li><b>Season #:</b> {{szn.id}}</li>
        <li><b>Timeframe:</b> {{szn.start_time}} to {{szn.end_time}}</li>
        <li><b>Events Analyzed:</b> {{szn.events|length}}</li>
        <li><b>Season Guide:</b> <a href="{{szn.season_guide}}">[PDF]</a></li>
    </ul>
</section>

<section id="events">
    <h2>Events</h2>
    <button onclick="toggle('#events > .togglable')">Show/Hide Event List</button>
    <div class="collapse togglable season-event-filters">
        {{ macros.event_filters(EVENT_TYPES) }}
    </div>
    <div class="collapse togglable season">
        {% for evt in szn.events %}
        {{ macros.eventbox(evt) }}
        {% endfor %}
    </div>
</section>

<section id="meta_composition">
    <h2>Meta Composition</h2>
    <button onclick="toggle('#meta_composition > .togglable')">Show/Hide Meta Composition</button>

    <p class="togglable collapse">Season breakdown only includes public decklists. This may bias the breakdown towards decks that made top cut.</p>
    <div class="element-meta collapse togglable">
        {{macros.elementpie(szn.elements)}}
    </div>

    <h3 class="togglable collapse">Archetypes</h3>
    {{ macros.elementbars(szn.archedata) }}
    <p class="togglable collapse">Totals don't sum to 100% because decks can qualify as multiple archetypes.</p>

    <h3 class="togglable collapse">Champions</h3>
    {{ macros.elementbars(szn.champdata) }}
    <p class="togglable collapse">This breakdown only shows the basic elements from a deck's spirit(s), not elements added by Lv1+ champions. Decks with multiple lineages count fractionally toward each (for example, a Tonoris/Nico deck counts 50% towards Tonoris).</p>
</section>


<section id="head-to-head">
    <h2>Head-to-Head</h2>
    <button onclick="toggle('#head-to-head > .togglable')">Show/Hide Head-to-Head Charts</button>
    <p class="collapse togglable">Deck on the left's win rate vs deck on the top</p>
    <h3 class="collapse togglable">All Players:</h3>
    
    {{ macros.battlechart(szn.battlechart, szn.archedata) }}

    <h3 class="collapse togglable">Top Players Only:</h3>
    <p class="collapse togglable">This chart shows only matches between players ranked in the top {{config.TOP_CUTOFF}} globally by Elo.</p>
    {{ macros.battlechart(szn.bc_top, szn.archedata) }}
</section>

{% endblock %}
