{% extends "base.html.jinja2" %}

{% block subtitle %}{{szn}} - {% endblock %}

{% block body %}
<nav id="main-nav">
    <a class="nav-item" href="/">⌂ Home</a>
    <b class="nav-item">↓ {{szn}}</b>
    <a class="nav-item" href="/player/">→ Players</a>
    <a class="nav-item" href="/deck/">→ Decks</a>
    <a class="nav-item" href="/formats/">→ Format Stats</a>
    <a class="nav-item" href="/card/">→ Cards</a>
    <a class="nav-item" href="/achievement/">→ Achievements</a>
</nav>
<section id="szn-info">
<h1>{% if szn.name != "Offseason" %}<img alt="{{szn.name}}" src="/static/{{szn.code}}_logo.png" /> <br />{% endif %}{{szn}}</h1>
<ul class="scooped-corners">
        <li><b>Season #:</b> {{szn.id}}</li>
        <li><b>Timeframe:</b> {{szn.start_time}} to {{szn.end_time}}</li>
        <li><b>Events Analyzed:</b> {{szn.events|length}}</li>
        {% if szn.season_guide %}<li><b>Season Guide:</b> <a href="{{szn.season_guide}}">[PDF]</a></li>{% endif %}
        <li><b>Draw Rate:</b> {{szn.draw_pct}}% {% if szn.nat_draw_pct != szn.draw_pct %}({{szn.nat_draw_pct}}% natural)
            <p class="explanation">(Assuming matches with a 0-0 score are intentional draws.)</p>{% endif %}
        </li>
    </ul>
</section>

<section id="events">
    <h2>Events</h2>
    <button onclick="toggle('#events > .togglable')">Glimpse Event List</button>
    <div class="collapse togglable season-event-filters">
        {{ macros.event_filters(EVENT_TYPES) }}
    </div>
    <div class="collapse togglable season">
        {% for evt in szn.events %}
        {{ macros.eventbox(evt) }}
        {% endfor %}
    </div>
</section>

<section id="meta_composition">
    <h2>Meta Composition</h2>
    <button onclick="toggle('#meta_composition > .togglable')">Glimpse Meta Composition</button>

    <p class="togglable collapse">Season breakdown only includes public decklists. This may bias the breakdown towards decks that made top cut.</p>
    <div class="element-meta collapse togglable">
        {{macros.elementpie(szn.elements)}}
    </div>

    <h3 class="togglable collapse">Archetypes</h3>
    {{ macros.elementbars(szn.archedata, True) }}
    <p class="togglable collapse">Totals don't sum to 100% because decks can qualify as multiple archetypes.</p>

    <h3 class="togglable collapse">Champions</h3>
    {{ macros.elementbars(szn.champdata) }}
    <p class="togglable collapse">This breakdown only shows the basic elements from a deck's spirit(s), not elements added by Lv1+ champions. Decks with multiple lineages count fully toward each, which can cause the total to be over 100%.</p>
</section>


<section id="head-to-head">
    <h2>Head-to-Head</h2>
    <button onclick="toggle('#head-to-head > .togglable')">Glimpse Head-to-Head Charts</button>
    <p class="collapse togglable">Deck on the left's win rate vs deck on the top</p>
    <h3 class="collapse togglable">All Players:</h3>
    
    {{ macros.battlechart(szn.battlechart) }}

    <h3 class="collapse togglable">Top Players Only:</h3>
    <p class="collapse togglable">This chart shows only matches between players ranked in the top {{config.TOP_CUTOFF}} globally by Elo.</p>
    {{ macros.battlechart(szn.bc_top) }}
</section>

{% endblock %}
