<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Fractal of Insight (Alpha)</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_180.png">
    <link rel="icon" href="/favicon_180.png" sizes="180x180">
    <link rel="icon" href="/favicon_32.png" sizes="32x32">
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <h1>Fractal of Insight (Alpha)</h1>
    {% for seasonname, season in seasons.items() %}
    <section class="season" id="{{season['code']}}">
        <h2><a href="{{season['code']}}/">{{season}}</a></h2>
        {% for evt in season["events"] %}
        <a class="evt" href="{{evt.season}}/{{evt.id}}.html">
            <h3>{{evt.name}}</h3>
            <div class="date">{{evt.date}}</div>
            <div class="playercount">{{evt.players|length}} entrants</div>
        </a>
        {% endfor %}
    </section>
    {% endfor %}
</body>
</html>
