<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Fractal of Insight (Alpha)</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_180.png">
    <link rel="icon" href="/favicon_180.png" sizes="180x180">
    <link rel="icon" href="/favicon_32.png" sizes="32x32">
    <link rel="stylesheet" href="/static/style.css" />
    <script type="text/javascript" src="/static/ui.js"></script>
</head>
<body>
<nav id="main_nav">
<a class="nav-item" href="/">⌂ Home</a>
</nav>
<h1>{{szn}}</h1>

<section id="events">
    <h2>Events</h2>
    <button onclick="toggle('#events > .togglable')">Show/Hide Event List</button>
    <table class="collapse togglable event-list">
        <thead><tr>
            <th>Date</th>
            <th>Name</th>
            <th>Category</th>
            <th># Entrants</th>
        </tr></thead>
        <tbody>
            {% for e in szn.events %}
            <tr>
                <td>{{e.date}}</td>
                <td><a href="{{e.id}}.html">{{e.name}}</a></td>
                <td>{{e.category["name"]}}</td>
                <td>{{e.players|length}} players</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<section id="meta_composition">
    <h2>Meta Composition</h2>
    <button onclick="toggle('#meta_composition > .togglable')">Show/Hide Meta Composition</button>
    <table class="collapse togglable">
        <thead><tr>
            <th>Element</th>
            <th>% of decks</th>
        </tr></thead>
        <tbody>
            {% for el, pct in szn.elements %}
            <tr>
                <td>{{el}}</td>
                <td>{{pct}}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="collapse togglable element-bars">
        {% for archetype, pct, elpcts in szn.archedata %}
            {% if loop.index <= 8 %}
            <div class="archetype">
                <div class="el-pct">{{pct}}%</div>
                <div class="arche-bar" style="height: {{4*pct}}px">
                    {% for el,elpct in elpcts.items() %}
                        <div class="el-bar {{el|lower}}" style="height: {{elpct+0.1}}%" title="{{elpct}}% {{el}}">&nbsp;</div>
                    {% endfor %}
                </div>
            <h4>{{archetype}}</h4>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <p class="togglable collapse">Only the top 8 archetypes are shown. Totals don't sum to 100% because decks can qualify as multiple archetypes.</p>
</section>


<section id="head_to_head">
    <h2>Head-to-Head</h2>
    <button onclick="toggle('#head_to_head > .togglable')">Show/Hide Head-to-Head Charts</button>
    <p class="collapse togglable">Deck on the left's win rate vs deck on the top</p>
    <h3 class="collapse togglable">All Players:</h3>
    {% macro battlechart(bc) %}
    <table class="collapse togglable">
        <thead><tr>
            <th>Deck</th>
        {% for archetype, records in bc.items() %}
            {% if szn.archedata[loop.index0][1] > 0 %}
            <th>{{archetype}}</th>
            {% endif %}
        {% endfor %}
        </tr></thead>
        <tbody>
            {% for archetype, records in bc.items() %}
            {% if szn.archedata[loop.index0][1] > 0 %}
            <tr>
                <td>{{archetype}}</td>
                {% for opp, r in records.items() %}
                    {% if szn.archedata[loop.index0][1] > 0 %}
                    <td class="{{r.rating}}">
                        {% if r.rating == "no_data" %}
                        (No data)
                        {% else %}
                        <div class="pct">{{r.pct}}%</div>
                        <div class="matchcount">({{r.matches}} matches)</div>
                        {% endif %}
                    </td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% endmacro %}
    {{ battlechart(szn.battlechart) }}

    <h3 class="collapse togglable">Top Players Only:</h3>
    <p class="collapse togglable">This chart shows only matches between players ranked in the top {{config.TOP_CUTOFF}} globally by Elo.</p>
    {{ battlechart(szn.bc_top) }}
</section>

<footer>
    <a href="https://github.com/mDuo13/fractal-of-insight/">&copy; 2024 mDuo13. Open-source.</a>
</footer>
</body>
</html>
